@model Ecom.Models.ValueTypeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Value Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValueName" class="control-label"></label>
                <input asp-for="ValueName" class="form-control" />
                <span asp-validation-for="ValueName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@*
    $("#showSpec").click(function () {
                services = [];
                $("input.ids:checked").each(function () {
                    services.push($(this).val());
                });
                var input_services = services.toString();
                var form = document.createElement("form");
                var element1 = document.createElement("input");
                var element2 = document.createElement("input");
                var element3 = document.createElement("input");
                var element4 = document.createElement("input");



                form.method = "GET";
                form.action = "/CategorySpecifications/Create";

                element1.value = input_services;
                element1.name = "services";
                form.appendChild(element1);

                element2.value =  @ViewBag.room.RoomId;
                element2.name = "RoomId";
                form.appendChild(element2);

                element3.value =  @ViewBag.catID;
                element3.name = "categoryID";
                form.appendChild(element3);

                element4.value =  @ViewBag.specID;
                element4.name = "specificationID";
                form.appendChild(element4);



                document.body.appendChild(form);
                console.log(form);
                form.submit();
            });
        });*@
}
