@model Ecom.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
   @*         <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>*@
            <div class="form-group">

                <input type="file" name="Imagefile" class="form-control" required />
                <span asp-validation-for="Imagefile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <button type="button" id="showSpec" class="btn btn-sm btn-light ml-2">edit specifications<i class="fa fa-plus"></i></button>
</div>
<input hidden name="StringifiedJSArray">
<div id="spec">

    <p id="msg"></p>
    <script>
        var isProduct = true;
        var specifications = document.getElementById("Specs");
        var spec_dictionary = {};
        for (i = 0; i < specifications.length; i++){
            spec_dictionary[JSON.stringify(specifications.options[i].value)] = specifications.options[i].text;
        }
        var selectedSpecifications = document.getElementById("SelectedSpecs");

        var selectedValues = [];
        for (i = 0; i < selectedSpecifications.length; i++){
            selectedValues.push(selectedSpecifications[i].text)
        }
        if(selectedValues.length > 0)
        {
            var spec = "<input hidden id='specIds' name='Specifications' value='" + JSON.stringify(selectedValues) + "'>"
            $("#spec").append(spec);
            updateSpecs();
        }

        function updateValuesInput(){
            var tmp = document.getElementById("specValues")
            if (tmp) {
                let div = document.getElementById("spec")
                div.removeChild(tmp)
            }
            var values_inputs = document.getElementsByClassName("values");
            var values_inputs_values = [];
            for (var i = 0; i < values_inputs.length; i++){
                values_inputs_values.push(values_inputs[i].value)
            }
            var spec = "<input hidden id='specValues' name='ProductSpecificationValues' value='" + JSON.stringify(values_inputs_values) + "'>"
            $("#spec").append(spec);
        }
    </script>

</div>
<div>
    <a class="btn btn-primary" href=@Url.Action("index", "Products", new { page=1})>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
