@using Microsoft.AspNetCore.Identity
@using AppDbContext.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
    <button class="dropdown-item" type="button">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </button>


    <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark ">logout</button>
    </form>
      
    }
    else
    {




    <button class="dropdown-item" type="button">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">register</a>
    </button>
    <button class="dropdown-item" type="button">
       
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">login</a>
    </button>
    }

