@model Ecom.Models.CategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" id="showSpec"  class="btn btn-sm btn-light ml-2"><i class="fa fa-plus"></i></button>
            </div>
             <input hidden name = "StringifiedJSArray" >
                            <div id="spec">

                <p id="msg"></p>
                <script>
           
                    // get reference to button
                    var showbtn = document.getElementById("showSpec");
                    // add event listener for the button, for action "click"
                    var spec_index=0;
                    showbtn.addEventListener("click", addChild);
                    function addChild() {
                        var spec = "<table id='spec" + spec_index + "' class= 'table table-light table - borderless table - hover text - center mb - 0' >" +
                            "<tbody class='align-middle' >"+
                        "<tr>"+
                               "<td>"+
                                    "<select class='form-control Specs custom-select' >" +
                                          "<option selected> United States </option>"+
                                          "<option > Afghanistan </option>"+
                                          "<option > Albania </option>"+
                                          "<option > Algeria </option>"+
                                    "</select> </td>"+
                               "<td class= 'align-middle' > specification </td>"+
                               "<td class= 'align-middle' >"+
                                    "<button type='button' id='rem" + spec_index + "'  class= 'btn btn-sm btn-danger rem' >" +
                                        "<i class='fa fa-times' > </i>"+
                                    "</button >"+
                               "</td></tr> </tbody > </table>"
                        $("#spec").append(spec);
                        let div=document.getElementById("spec")
                        let rembtn = document.querySelector("#rem"+spec_index).addEventListener("click",
                        function () {
                           // let confirm=confirm("are you sure?");
                            let rem_parent =this.parentNode.parentNode.parentNode.parentNode;
                           // console.log(rem_parent);
                           
                                    div.removeChild(rem_parent);
                            
                           

                    });
                   
                        spec_index+=1;
                    
                    }
                </script>

            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        
            
}*@
<script>


    var btn = document.getElementById("#showSpec");




        function submitt() {
            var Specs = document.getElementsByClass('Specs');
           
            var myArray = [];
            for (var i = 0; i < Specs.length; i++) {
                var obj = { id: "Your custom logic", Specs: Specs[i].value }
                myArray.push(obj);
            document.getElementById('StringifiedJSArray').value = JSON.stringify(myArray);
          
        }
    </script>
           
        

